/* Home............................. */
.homepage {
    background-image: url('../../assets/images/HomeBackground.jpg');
    background-size: cover;
    background-position: center;
    overflow: auto;
    max-height: 100vh;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
}

.app {
    /* Add your app styles here */
}

.blur {
    filter: blur(4px); /* Apply the blur effect */
    pointer-events: none; /* Prevent interaction with blurred elements */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 10; /* Place the overlay on top of other elements */
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 20; /* Place the pop-up on top of the overlay */
}
