/* Home............................. */
.homepage {
    background-image: url('../../assets/images/HomeBackground.jpg');
    background-size: cover;
    background-position: center;
    overflow: auto;
    max-height: 100vh;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
}

/* Navbar............................. */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin: 0 10px;
}

.navbar-link {
    color: #fff;
    font-size: 0.8em;
    font-style: italic;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

.navbar-link:hover {
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    border-radius: 20%;
}

.logo-image {
    width: 3em; /* Adjust the width as needed */
    height: 3em; /* Adjust the height as needed */
}

.logo-text {
    font-weight: bold;
    font-style: italic;
    padding: 0.5em;
    font-size: 1em; /* Adjust the font size as needed */
    color: #000; /* Adjust the color as needed */
}

/* .navbar-link:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
} */


.app {
    /* Add your app styles here */
}

.blur {
    filter: blur(4px); /* Apply the blur effect */
    pointer-events: none; /* Prevent interaction with blurred elements */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 10; /* Place the overlay on top of other elements */
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 20; /* Place the pop-up on top of the overlay */
}
