.turfPage {
    background-image: url('../../assets/images/TurfBackground.jpg');
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-position: center;
    overflow: auto;
}

.turfHeading {
    text-align: center;
    padding-bottom: inherit;
}